
// Colours
$primary: #e4d3bc;
// $primary: #dec8ac;
$secondary: #fff6ea;
$gray: #e8e8e8;

// For reflex grid so that we can ensure that the namespace doesn't class
// with the GeneratePress grid. So classes now become rf-col-md-8 and rf-grid
$reflex-prefix  : rf- !default;

// Use maximum width of 1200px not default 1600px;
$reflex-xxx  : 1600px !default;
$reflex-xlg  : 1200px !default;

$base-spacing: 8;