

.sticky-header-active {
	.sticky-header, .header-search-form {
		box-shadow: 0 0 30px rgb(0 0 0 / 7%);
		border-bottom: 0 solid rgba(33,33,33,0.1);
		background: #fff !important;
	}
	.site-header-inner {
		padding-top: 16px !important;
		padding-bottom: 16px !important;
	}
}

.site-header {
	border: none;
	box-shadow: none;

	&.sticky-header, .header-search-form {
		background: $gray;
	}
	&-inner {
		transition: all 0.3s ease;
		padding-top: 32px !important;
		padding-bottom: 32px !important;
		
	}
}

.main-navigation a {
	font-weight: 500;
}